
docking_results/.DS_Store
docking_results/h2/.DS_Store
docking_results/h2/.DS_Store
.DS_Store
docking_results/.DS_Store
docking_results/h1/.DS_Store
docking_results/h2/.DS_Store
redocking/.DS_Store
.Rhistory
